<div style="margin: 20px;">
  <h1>Lista tareas (ejemplo de formularios reactivos)</h1>
  <p>
    Tarea: <input type="text" [formControl]="tarea" />
  </p>
  <p>
    <button type="button" class="btn btn-primary" (click)="agregarTarea()">Agregar tarea</button>
  </p>

  <ol>
    @for(tar of listaTareas; track $index){
      <li>
        {{tar}} <a (click)="borrarTarea($index)" href="a">Borrar?</a>
      </li>
    }
  </ol>

  <p>
    <button type="button" class="btn btn-danger" (click)="borrarTareas()">Borrar todas las tareas</button>
  </p>

</div>

<router-outlet></router-outlet>
